<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    .headermenu {
      text-align: center;
      font-weight: bold;
      font-family: Arial;
      background-color: #4B088A;
      table-layout: fixed;
      border-collapse: collapse;
      width: 80%;
      height: 4em;
    }

    .headeritem {
      border-left: 2px solid white;
      border-right: 2px solid white;
      color: white;
    }

    .headeritem  a {
      color: white;
    }
  </style>
</head>
<body>
  <table class="headermenu">
    <tr>
      {% for item in data.keys() %}
        <td class="headeritem"><a href="#{{item.replace(' ', '_')}}">{{item}}</a></td> 
      {%- endfor %}
    </tr>
  </table>
</body>
</html>

Data Depot - is a collaborative reference based catalogue of data resources created for and maintained by data practitioners. <br />
Please email {% raw %}{{em|madina.ibragimova@csps-efpc.gc.ca}} {% endraw %} if you have any questions pertaining this page.<br />
Version française à suivre. 

__NOTOC__

{% for k, v in data.items() -%}
  == {{k}} ==
  {% for elem in v -%}
    {% if elem.url -%}
      * [{{elem.url or ""}} {{elem.name}}]
    {% else -%}
      * {{elem.name}}
    {% endif -%}
  {% endfor %}
{% endfor %}
