[[File:Data Universe banner.jpg|700px|centre]]
<html>
<head>
  <meta charset="UTF-8">
<style>
    .headercontainer {
        margin: auto;
    }

    .headermenu {
      text-align: center;
      font-weight: bold;
      font-family: Arial;
      background-color: #4B088A;
      table-layout: fixed;
      border-collapse: collapse;
      width: 100%;
      height: 4em;
    }

    .headeritem {
      border-left: 0.25ch solid white;
      border-right: 0.25ch solid white;
      padding: 0.5ch;
      color: white;
    }

    .headeritem  a {
      color: white;
    }
  </style>
</head>
<body>
  <table class="headermenu">
      <div class="headercontainer">
        <tr>
          {% for cat in CATEGORIES -%}
              <td class="headeritem">
                  <a href="{{gen_url(cat)}}">
                      {{format_link_text(cat)}}
                  </a>
              </td> 
          {%- endfor %}
        </tr>
      </div>
  </table>
</body>
</html>

Data Depot is a collaborative reference based catalogue of data resources created for and maintained by data practitioners. Please email {% raw %}{{em|madina.ibragimova@csps-efpc.gc.ca}} {% endraw %} if you have any questions pertaining this page.

Version française à suivre. 

__NOTOC__
